<robot name="walker">
  <link name="base_footprint">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.02"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>

  <joint name="gps_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="gps_link"/>
    <origin xyz="0 0 1.5" rpy="0 0 0"/>
  </joint>

  <link name="gps_link">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.1"/>
      </geometry>
    </visual>
  </link>
</robot>