[submodule "signal_processing/signal_processing/wavelib"]
	path = signal_processing/signal_processing/wavelib
	url = https://github.com/rafat/wavelib
[submodule "signal_processing/wavelib"]
	path = signal_processing/wavelib
	url = https://github.com/rafat/wavelib
[submodule "RF-Backscatter-PCB-V1"]
	path = RF-Backscatter-PCB-V1
	url = https://github.com/jlab-sensing/RF-Backscatter-PCB-V1.git
[submodule "backscatter_tag/RF-Backscatter-PCB-V1"]
	path = backscatter_tag/RF-Backscatter-PCB-V1
	url = https://github.com/jlab-sensing/RF-Backscatter-PCB-V1.git
[submodule "b1_ws/src/inertial-sense-sdk"]
	path = b1_ws/src/inertial-sense-sdk
	url = https://github.com/harelab-ucsc/inertial-sense-sdk.git
